<div class="pagination paginacaoGrupo" ng-if="1 < pages.length || !autoHide">
    <div class="paginacaoItens" ng-if="boundaryLinks" ng-class="{ disabled : pagination.current == 1 }">
        <button class="btnPaginacao">
            <a class="btnPaginacaoFonte" href="" ng-click="setCurrent(1)">&laquo;</a>
        </button>
    </div>
    <div class="paginacaoItens" ng-if="directionLinks" ng-class="{ disabled : pagination.current == 1 }">
        <button class="btnPaginacao">
            <a class="btnPaginacaoFonte" href="" ng-click="setCurrent(pagination.current - 1)">&lsaquo;</a>
        </button>
    </div>
    <div  class="paginacaoItens" ng-repeat="pageNumber in pages track by tracker(pageNumber, $index)" ng-class="{ active : pagination.current == pageNumber, disabled : pageNumber == '...' }">
        <button class="btnPaginacao">
            <a class="btnPaginacaoFonte" href="" ng-click="setCurrent(pageNumber)">{{ pageNumber }}</a>
        </button>
    </div>
    <div  class="paginacaoItens" ng-if="directionLinks" ng-class="{ disabled : pagination.current == pagination.last }">
        <button class="btnPaginacao">
            <a class="btnPaginacaoFonte" href="" ng-click="setCurrent(pagination.current + 1)">&rsaquo;</a>
        </button>
    </div>
    <div  class="paginacaoItens" ng-if="boundaryLinks"  ng-class="{ disabled : pagination.current == pagination.last }">
        <button class="btnPaginacao">
            <a class="btnPaginacaoFonte" href="" ng-click="setCurrent(pagination.last)">&raquo;</a>
        </button>
    </div>
</div>